

#restaurants-list li h2 {
  margin-left: 8px;
}

#restaurants-list li a {
  margin-left: 8px;
}

#restaurants-list li p {
  margin-left: 8px;
}

@media screen and (max-width: 766px) {

  nav {
    /*display: flex;*/
  }

  nav h1 a {
    font-size: 0.8em;
  }

  .filter-options h2 {
    line-height: 1;
    margin: 0px;
    padding: 4px;
  }

  .filter-options select {
    font-size: 8pt;
    margin: 5px;
    padding: 0px;
    width: calc((100vw - 32px) / 2);
  }

  /* ========= restaurant details ========= */

  .inside header {
    font-size: 0.8em;
    width: 100%;
  }

  #breadcrumb {
    width: 100%;
    /*box-sizing: border-box;*/
    padding: 8px;
  }

  #maincontent {
    width: 100%;
  }

  .inside #map-container {
    height: 85vh;
    width: 100%;
    position: relative;
    right: 0;
    top: 2px;
    margin-bottom: 24px;
  }

  .inside #footer {
    position: relative;
    width: 100%;
  }

  #restaurant-container, #reviews-container {
    padding: 16px 0 0 0;
    width: 100%;
    margin: 0px;
  }

  #restaurant-img, #restaurant-cuisine {
    width: 100%;
  }

  #restaurant-hours, #restaurant-address, #restaurant-name {
    padding-left: 8px;
  }

  #reviews-container h3 {
    padding-left: 8px;
  }


  #reviews-list {
    margin: 0;
    padding: 0;
  }

  #reviews-list li {
    box-sizing: border-box;
    border: none;
    padding: 8px;
    width: 100%;
  }

}

@media screen and (min-width: 766px) {

  .filter-options h2 {
    line-height: 1;
    padding: 8px;
  }

  .filter-options select {
    font-size: 10pt;
    padding: 0px;
    width: calc((100% - 48px) / 2);
  }

}


@media screen and (max-width: 767px) {

  #restaurants-list {
    background-color: #f3f3f3;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  #restaurants-list li {
    border: none;
    border-bottom: 1px solid #ccc;
    margin: 0px 0px 8px 0px;
    padding: 0px 0px 8px 0px;
    width: 100%;
  }

  #restaurants-list li:first-child {
    padding-top: 24px;
    margin-top: 0px;
  }

  #restaurants-list .restaurant-img {
    background-color: #ccc;
    display: block;
    margin: 0;
    max-width: 100%;
    min-height: 248px;
    min-width: 100%;
  }

}


@media screen and (min-width: 768px) {


  #restaurants-list {
    background-color: #f3f3f3;
    list-style: outside none none;
    margin: 0;
    padding: 30px 15px 60px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }

  #restaurants-list li {
    width: calc(50% - 36px);
    float: center;
    padding: 0px 0px 8px 0px;*/
  }

  /* ========= restaurant details ========= */

/*  .inside #map-container {
    height: 90vh;
  }*/

  .inside #footer {
    position: relative;
  }

  #restaurant-container, #reviews-container {
    padding: 16px 0 0 0;
    margin: 0px;
  }

  #restaurant-img, #restaurant-cuisine {
    width: 100%;
  }

  #restaurant-hours, #restaurant-address, #restaurant-name {
    padding-left: 8px;
  }

  #reviews-container h3 {
    padding-left: 8px;
  }

  #reviews-list {
    margin: 0;
    padding: 0;
  }

  #reviews-list li {
    box-sizing: border-box;
    border: none;
    padding: 8px;
    width: 100%;
  }

}


@media screen and (min-width: 1024px) {

  .filter-options{
    width: 1024px;
    margin-right: auto;
    margin-left: auto;
  }

  #restaurants-list li {
    width: calc(33.3333333% - 36px);
    float: center;
    padding: 0px 0px 8px 0px;
  }
}


@media screen and (min-width: 1320px) {

  #maincontent {
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }

  #restaurants-list li {
    width: 1320px;
    width: calc(25% - 36px);
    float: center;
    padding: 0px 0px 8px 0px;
  }


}
