@charset "utf-8";
/* SCSS Document - Small screen media queries */

@media screen and (max-width: 765px) {

  nav {
    h1 a {
      font-size: 0.8em;
    }
  }

  .filter-options{
    h2 {
      line-height: 1;
      margin: 0px;
      padding: 4px;
    }
    select {
      font-size: 8pt;
      margin: 5px;
      padding: 0px;
      width: calc((100vw - 32px) / 2);
    }
  }

  /* ========= restaurant details ========= */


  #restaurants-list {
    background-color: #f3f3f3;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      border: none;
      border-bottom: 1px solid #ccc;
      margin: 0px 0px 8px 0px;
      padding: 0px 0px 8px 0px;
      width: 100%;
    }

    li:first-child {
      padding-top: 24px;
      margin-top: 0px;
    }

    .restaurant-img {
      background-color: #ccc;
      display: block;
      margin: 0;
      width: 100%;
      min-height: 248px;
    }

  }

  .inside {
    header {
      font-size: 0.8em;
      width: 100%;
    }

    #breadcrumb {
      width: 100%;
      /*box-sizing: border-box;*/
      padding: 8px;
    }

    #maincontent {
      width: 100%;
    }

    #map-container {
      height: 400px;
      width: 100%;
      position: relative;
      left: 0;
      top: 8px;
      margin-top: 16px;
      margin-bottom: 8px;
      border: 1px solid #ccc;
    }

    #footer {
      position: relative;
      width: 100%;
    }

    #restaurant-container, #reviews-container {
      width: 100%;
      padding: 0;
      margin: 0;
    }

    #restaurant-img, #restaurant-cuisine {
      width: 100%;
    }

    #restaurant-hours, #restaurant-address, #restaurant-name {
      padding-left: 8px;
    }


    #restaurant-address {
      font-size: 12pt;
    }

    #restaurant-hours {
      margin: 0px;
      width: calc(100% - 8px);

      td,th {
        font-size: 10pt;
      }
    }

    #reviews-container h3 {
      padding-left: 8px;
    }

    #reviews-list {
      margin: 0;
      padding: 0;
      
      li {
        border-radius: 5px;
        border: none;
        padding: 8px;
      }
    }


  }

}